@model Parks
@{
    ViewData["Title"] = "Details";
}

<a asp-controller="home" asp-action="homepage">Home</a>
<a asp-controller="home" asp-action="survey">Survey</a>

<h2>@Model.ParkName</h2>
<img src="~/images/@(Model.ParkCode).jpg" alt="@Model.ParkName" />
<p>@Model.InspirationalQuote -@Model.InspirationalQuoteSource</p>
<p>@(Model.State)</p>
<p>Founded @Model.YearFounded</p>
<p>@Model.ParkDescription</p>

<table class="table table-striped">
    <tr>
        <td><strong>@Model.Acreage</strong> Acres</td>
        <td><strong>@Model.AnnualVisitorCount</strong> Visitors Annually</td>
        <td><strong>@Model.Climate</strong> climate</td>
        <td><strong>@Model.ElevationInFeet</strong> ft</td>
        <td><strong>$@Model.EntryFee</strong> to Enter</td>
        <td><strong>@(Model.MilesOfTrail)</strong>mi of Trail</td>
        <td><strong>@Model.NumberOfAnimalSpecies</strong> Species</td>
        <td><strong>@Model.NumberOfCampsites</strong> Campsites</td>
    </tr>
</table>

<table>
    <thead>
        <tr>
            <td></td>
            <td>---High---</td>
            <td>--Low--</td>
            <td>---Forecast</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var day in Model.Weather)
        {
            <tr>
                <td>@day.ParkCode</td>
                <td><strong>Day @day.FiveDayForecastValue</strong></td>
                <td>@day.High</td>
                <td>@day.Low</td>
                <td>@day.Forecast</td>
                <td></td>
                <td></td>
            </tr>
        }
    </tbody>
</table>

