@model IList<Parks>

@{
    ViewData["Title"] = "HomePage";
}

<a asp-controller="home" asp-action="homepage">Home</a>
<a asp-controller="home" asp-action="survey">Survey</a>
<h2>CasaPage!!</h2>


<table>
    @foreach (var park in Model)
    {
        <tr>
            <th><a asp-controller="home" asp-action="details" asp-route-parkCode="@park.ParkCode"><img src="~/images/@(park.ParkCode).jpg"></a></th>
            <td><a asp-controller="home" asp-action="details" asp-route-parkCode="@park.ParkCode">@park.ParkName</a></td>
            <td>@park.State</td>
            <td>@park.ParkDescription</td>
        </tr>
    }
</table>