@model IList<Parks>

@{
    ViewData["Title"] = "HomePage";
}


<h2>¡¡CasaPage!! ¡Muy Pequeño Caliente!</h2>

<style>
    img {
        width: 100%;
        height: 100%;
        margin: 15px;
    }

    table {          
        background-image: linear-gradient(to right, rgba(47, 79, 79, .7), rgba(47, 79, 79, .3))
        
        }

    th, td { border-bottom: 1px solid #ddd;}
 </style>

<table>
    @foreach (var park in Model)
    {
        <tr>
            <th><a asp-controller="home" asp-action="details" asp-route-parkCode="@park.ParkCode"><img src="~/images/@(park.ParkCode).jpg"></a></th>
            <td><a asp-controller="home" asp-action="details" asp-route-parkCode="@park.ParkCode">@park.ParkName</a></td>
            <td>@park.State</td>
            <td>@park.ParkDescription</td>
        </tr>
    }
</table>